{% extends 'base.html.twig' %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_widget(form) }}
        <button class="btn btn-block btn-success" type="submit">{{ button|default('Cambiar Contraseña') }}</button>
    {{ form_end(form) }}
{% endblock %}
