{% extends 'base.html.twig' %}

{% block title %}Crear Tag{% endblock %}

{% block body %}
    <h1 class="mb-4">Crear Tag</h1>
    <br>
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button class="btn btn-success" type="submit">{{ button|default('Crear Tag') }}</button>
    {{ form_end(form) }}
{% endblock %}
