{% extends 'base.html.twig' %}

{% block title %}Editar Nota{% endblock %}

{% block body %}
    <h1 class="mb-4">Editar Nota</h1>
    <br>
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button class="btn btn-block btn-success" type="submit">{{ button|default('Editar Nota') }}</button>
    {{ form_end(form) }}
{% endblock %}
